.nav-screen{
    width: 100%;
    height: 80px;
    background-color: rgb(18, 18, 62);
    color: white;
    display: flex;
    justify-content: space-between;
}
.one{
    width: 20%;
    height: 50px;
    border: 2px solid yellow;
    margin: auto;
    font-size: 1.5rem;
    /* font-weight: bold; */
}
.one>div{
    margin-top: 20px;
    cursor: pointer;
}
.two>div:hover{
    color: rgb(119, 119, 221);
    font-size: 1.03rem;
}
.two{
    width: 50%;
    height: 50px;
    border: 2px solid yellow;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.two>div{
    margin-top: 20px;
    cursor: pointer;
}

@media screen and (max-width: 480px){
    .nav-screen {
        width: 100%;
        height: 100px;
    }

    .one{
        width: 20%;
        height: 50px;
        font-size: 15px;
        font-weight: bold;
    }
    .two{
        width: 70%;
        height: 50px;
        font-size: 14px;
        /* font-weight: bold; */
    }
}