*{
    margin: 0;
    padding: 0;
    /* font-family: 'OnePlus Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
.w-h-100{
    height: 100%;
    width: 100%;
}
.skill-container{
    width: 80%;
    height: 200px;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    /* margin-top: 40px; */
}
.info-container{
    width: 20%;
    height: 200px;
    /* border: 2px solid greenyellow; */
    margin: auto;
    margin-top: 140px;
}
.image-skills{
    width: 50%;
    height: 80px;
    margin: auto;
    margin-top: 10px;
}
.tag{
    margin-top: 20px;
}


@media screen and (max-width:950px) {
    #screen>div{
        width: 90%;
        height: 600px;
        flex-direction: column;
    }
    .info-container{
        width: 40%;
        height: 300px;
    }
}
